/* Amarillo: #EAC926; */
/* Azul: #03264C; */
/* Celeste: #1259c3; */
/* Gris oscuro: #666; */
/* Gris claro: #ebebeb; */
/* Verde: #39b54a; */


body{
    color: black;
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    
}
h2{
    font-size: 24px;
}


/* .burger-menu{
    
} */



.precio{
    font-size: 18px;
}
.descuento{
    font-size: 16px;
}
.nombre-producto{
    font-size: 16px;
}

.footer-section {
    text-align: center;
}
.footer{
    background-color: white;
}
.icon{
    padding-bottom: 10px;
    size: 2em;
}