<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- viewport se escribe al final del head  -->
    <title>Mercado Liebre</title>

<!-- //link font-awesome//  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link rel='stylesheet' href="/Public/css/estilos.css">

</head>

<body>
  <header>
    <img width="300px" src="/Public/img/logoML.svg"  alt="Logo Mercado Liebre">
    
    <section class="barra-busqueda">
      <form action="#"  method="get">
        <!-- ver la ruta a donde se redirige arriba en # -->
       <input type="search" id="busqueda" placeholder="Buscar productos, marcas" name="busqueda"/>
       <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </section>

    <section>
    <i class="fas fa-hand-holding-usd"></i>
    <p class="compra-cuotas" >Compra en cuotas y tarjeta de credito </p>
    </section>    

    <nav>
      <ul class="descripcion" >
        <li><a href="#" >Ofertas</a> </li>
        <li><a href="#">Tiendas Oficiales</a> </li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
        <br>
        <li><a href="#" >Crea tu cuenta</a> </li>
            <i class="fas fa-id-card"></i>
        <li><a href="#">Ingresa</a> </li>
            <i class="fas fa-sign-in-alt"></i>
        <li><a href="#">Mis compras</a> </li> 
            <i class="fas fa-shopping-cart"></i>
      </ul>
    </nav>

    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
    
    <img src="/Public/img/img-home-banner.jpg" alt="Banner Home">
    
  </header>
  <main>
    <section class="ultima-visita">
      <h2 class="titulo">Basado en tu ultima visita</h2>

      <article class="producto">
        <img src="/Public/img/img-cafetera-moulinex.jpg "  alt="Cafetera Moulinex" class="img-productos">
        <section class="descripcion-producto">
          <i class="fas fa-shipping-fast"></i>
          <section class="precioYdescuento">
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
          </section>
          <p class="nombre-producto">Cafetera Moulinex</p>
        </section>
      </article>
    
      <article class="producto">
        <img src="/Public/img/img-macbook-pro-2019.jpg"   alt="McBook Pro 2019"class="img-productos">
        <section class="descripcion-producto">
          <i class="fas fa-shipping-fast"></i>
          <section class="precioYdescuento">
            <p class="precio">  $230.000</p>
            <p class="descuento">20% off</p>
          </section>
          <p class="nombre-producto">McBook Pro 2019</p>
        </section>
      </article>
     
      <article class="producto">
        <img src="/Public/img/img-samsung-galaxy-s10.jpg" alt="Galaxy"class="img-productos">
        <section class="descripcion-producto">
          <i class="fas fa-shipping-fast"></i>
          <section class="precioYdescuento">
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
          </section>
          <p class="nombre-producto">Samsung Galaxy S10 </p>
        </section>
      </article>
    
      <article class="producto">
        <img src="/Public/img/img-tv-samsung-smart.jpg" alt="Tv samsung"class="img-productos">
        <section class="descripcion-producto">
          <i class="fas fa-shipping-fast"></i>
          <section class="precioYdescuento">
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
          </section>
        <p class="nombre-producto">SmartTv Samsung 43" </p>
        </section>
      </article>
    </section>

    <section class="ofertas">
      <h2 class="titulo">Seccion de Ofertas</h2>

      <article class="producto">
        <img src="/Public/img/img-cafetera-moulinex.jpg "  alt="Cafetera Moulinex"class="img-productos">
        <section class="descripcion-producto">
          <i class="fas fa-shipping-fast"></i>
          <section class="precioYdescuento">
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
          </section>
        <p class="nombre-producto">Cafetera Moulinex</p>
        </section>
      </article>
     
      <article class="producto">
        <img src="/Public/img/img-macbook-pro-2019.jpg"   alt="McBook Pro 
        2019"class="img-productos">
        <section class="descripcion-producto">
          <i class="fas fa-shipping-fast"></i>
          <section class="precioYdescuento">
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
          </section>
        <p class="nombre-producto">McBook Pro 2019 </p>
        </section>
      </article>
     
      <article class="producto">
        <img src="/Public/img/img-samsung-galaxy-s10.jpg" alt="Galaxy"class="img-productos">
        <section class="descripcion-producto">
          <i class="fas fa-shipping-fast"></i>
          <section class="precioYdescuento">
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
          </section>
        <p class="nombre-producto">Samsung Galaxy S10 </p>
        </section>
      </article>
    
      <article class="producto">
        <img src="/Public/img/img-tv-samsung-smart.jpg" alt="Tv samsung"class="img-productos">
        <section class="descripcion-producto">
          <i class="fas fa-shipping-fast"></i>
          <section class="precioYdescuento">
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
          </section>
        <p class="dombre-producto">SmartTv Samsung 43" </p>
        </section>
      </article>
    </section>
  </main>
  
  <footer>
    <div class="footer">
    <section class="footer-section">
      <i class="fas fa-credit-card" class="icon"></i>
      <h3>Paga con tarjeta en efectivo</h3>
        <p class="cuerpoTexto">Con Mercado Liebre Cash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago.¡Y sempre es seguro!</p>
    </section>

    <section class="footer-section">
      <i class="fas fa-gift" class="icon"></i>
      <h3>Envio gratis desde $2.500</h3>
        <p class="cuerpoTexto">Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </section>

    <section class="footer-section">
      <i class="fas fa-shield-alt" class="icon"></i>

      <!-- ver tamano de iconos -->
      <h3>Seguridad de principio a fin</h3>
        <p class="cuerpoTexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@.</p>
    </section>
    </div>

      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>
</body>
</html> 